/* Card component styles */
.card {
    border: 1px solid #ccc;
    border-radius: 18px;
    /* Add transition for smooth effect */

}

/* .card:hover {
    background-color: rgba(0, 0, 0, 0.3);
    
} */

.card-img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc !important;
    border-radius: 18px !important;

}

.card-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    /* Hide the default checkbox */
    width: 20px;
    height: 20px;
}


/* Styling for the checked card */
.card.checked {
    border: 2px solid #007bff;
    /* Change the border color for checked cards */
}